.card {
    border: 10px solid burlywood;
    background-image: url(luffy.jpg);
    opacity: 1;
    border-radius: 8px;
    padding: 150px;
    width: 325px;
    text-align: center;
    margin: 0 auto ;
    margin-top: 67px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.card h2 {
    margin-bottom: 0.5px;
    color: #333;
}

.card p {
    margin: 1px ;
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}
.card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}